


.open-sans-normal {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    /* background-color: bisque; */
    
}

body{
    background-color: #F5F8FF;
}

header{
    background-image: url('./Assets/Hero-bg.png');
    height: 700px;
    width: 100%;
    background-position:0%;
    justify-content: center;
}

.logo-head{
    display: flex;
    justify-content: space-between;
    height: 152px;
    gap: auto;
    align-items: center;
    margin-left: 150px;
    margin-right: 150px;
    padding: 10px;
}
.logo-title{
    color: rgba(78, 71, 255, 1);
    font-size: 50px;
    font-weight: bold;
}
.singup-button{
    background-color:rgba(78, 71, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    border: none;
    padding: 18px 36px;
    border-radius: 10px;
}
.banner{
    display: flex;
    justify-content: center;
    align-items:center ;
    padding-top: 05%;
}
.bannar-content{
    width: 950px;
    font-size: 65px;
    font-weight: bold;
    text-align: center;
    
}
.button{
    display: flex;
    justify-content: center;
    padding-top: 30px;

}
.stay-focused-button{
    /* display: flex; */
    background-color:rgba(78, 71, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    height: 40px;
    width: 180px;
    align-items: center;
    justify-content: center;
}

/* section  */
.section-01{
    display: flex;
    /* justify-content:space-around; */
    align-items: center;
    justify-content: space-between;
    gap: 50;
    margin-left: 141px;
    margin-right: 159px;
    padding-top: 100px;
}
.acton-title{
    font-weight: bold;
    font-size: 42px;
    color:#252432;
    padding: 10px;
    width: 517px;
    height: 49px;
}
.section-2{
    display:flex;
    justify-content:space-around;
    align-items: center;
    width: 1050px;
    height: 360px;
    background-color: rgba(14, 7, 232, 0.100);
    margin-top: 100px;
    margin-left: 150px;
    margin-right: 150px;
}

.element{
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: space-between;
    padding-top: 10px;
}
.user-section{
        text-align: center;
        margin-top: 0%;
        padding-top: 0%;
} 


.action-discription{
    font-size: 24px;
    padding: 36px 12px;
    height:60px;
    width: 517px;
}
.btn-primary{
    background-color:rgba(78, 71, 255, 1);
    color: rgba(255, 255, 255, 1);
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    height: 48px;
    width: 229px;
    align-items: center;
    /* justify-content: center; */
    padding: 10px;
    margin-top: 60px;



}
.action-profile{
    border-radius: 45px;
    width: 403px;
    height: 328px;
    /* padding: 878px 195px; */
}

.element{
    display: flex;
    justify-content: center;
    gap: 158px;
    justify-items: center;
    align-items: center;
}

/* .share-css */

.for-heading{
    font-size: 80px;
    font-weight: bold;
    color: rgba(78, 71, 255, 1);
    width: 162px;
    height: 20px;
    padding:3px;
}
.for-paragraph{
    font-size: 20px;
    width: 160px;
    height: 24px;
    color: rgba(0, 0, 0, 0.5);
    padding-top: 70px;
}

/* .What-our-users-say */

.What-our-users-say{
    margin-top: 100px;
    text-align:center;
    font-weight: bold;
    font-size: 42px;
    color: rgba(37, 36, 50, 1);
}
.Card-container{
    width: 367px;
    height: 244px;
    background-color:rgba(255, 255, 255, 1);
    border-radius: 10px;
    /* box-shadow: 05px 05px 05px 3px rgb(65, 63, 63); */
    margin-top: 50px;
    padding: 10px;

}
.review-card{
    display: flex;
    justify-content:space-between;
    gap: 20px;
    padding: px;
}
.card-section{
    margin-left: 150px;
    margin-right: 150px;
    
}
.star{
    width: 20px;
    height: 20px;
}

.comment{
    height: 29px;
    width: 210px;
    color: rgba(30, 30, 30, 1);
}

.reviewer{
    display: flex;
    align-items: center;
}

.Studio-Vertex{
    color: rgba(30, 30, 30, 1);
    margin-right: 10px;
    padding-top: 0%;
}

.avatar-pc{
    border-radius: 100%;
    height: 40px;
    width: 40px;
}

.p-h-tag{
    display: flex;
    margin-left: 10px;
    padding-left: 10px;
    align-items: center;
    gap: 8px;
}

/* from section */

.form-culomn form{
    display: flex;
    justify-content: space-between;
    gap: 100px;
    align-items: center;

}
    
form .login-form .title{
    font-size: 98px;
    font-weight: 800px;
}
form .login-form{
    width: px;
}

.form-culomn form .label-input{
    display: flex;
    flex-direction: column;
    width: 550px;
    gap: 20px;

}

.form-culomn form .label-input input{
    width: 100%;
    padding: 24px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: white;
}

.form-culomn form .label-input textarea{
    width: 100%;
    padding: 24px;
    border-radius: 10px;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: white;
}

.form-culomn form button{
    width: 100%;
    padding: 18px 36px;
    background-color: rgba(78, 71, 255, 1);
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
    border-radius: 10px;
   
}
    .form-culomn{
        width: 1050px;
        margin: 70px auto;
    }
   

.footer-logo{
    display: flex;
    font-size: 80px;
    font-weight: bold;
    justify-content: center;
    padding-top: 0px;
    padding-bottom: 0%;
    color:rgba(78, 71, 255, 1);
    margin-left: 150px;
    margin-right: 150px;
}

.footer-description{
    display: flex;
    height: 48px;
    width: 531;
    margin-top: 20px;
    font-size: 32px;
    justify-content:end;
    text-align:center;
    color:rgba(137, 135, 161, 1);
    margin-left: 150px;
    margin-right: 150px;
}

nav ul{
    display: flex;
    justify-content:center;
    gap: 50px;
    margin-top: 50px;
    padding-bottom: 50px;
    padding-top: 20px;   
}

ul li{
    list-style: none;
    font-size: 16px;
}

a{
    display: flex;
    text-decoration: none;
    color: rgba(137, 135, 161, 1); 
    font-size: 25px;
}

/* post card */
.post{
    display: flex;
    justify-content: center;
    background-color: rgba(255, 255, 255, 1);
    align-items: center;
    margin-top: 50px;
    height: 700px;
    gap: 20px;
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 150px;
}

.post-card{
    justify-items: center;
    gap: 20px;
}

.post-title{
    font-size: 50px;
    font-weight: bold;
    padding-bottom: 10px;
}

img{
    border-radius: 50px;
}

.button-for-post{
    padding-top: 15px;  
    padding-bottom: 20px; 
}

.post-button{
    width: 195px;
    height: 48px;
    background-color:rgba(78, 71, 255, 1);
    font-size: 16px;
    font-weight: bold;
    color: rgba(255, 255, 255, 1) ;
    border-radius: 10px;
    border: none;
    
}


/* @media screen and (max-width: 992px){ */


    


